/* =======LOGIN====== */
.card {
    height:100%
}
/* circle styling for logo */
.img-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto 0px;
    border: 1px solid rgb(88, 88, 88);
}
.img-circle>img{
    width: 100%;
}
.img-circle-reg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 15px 0px;
    border: 1px solid rgb(88, 88, 88);
}
.img-circle-reg>img{
    width: 100%;
}
.img-circle-profile {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(88, 88, 88);
}
.img-circle-profile>img{
    width: 100%;
}

.form-control {
    padding:5px;
    font-size: 14px;
}

/* submit button */
.auth-submit{
    background-color: rgb(186, 13, 13);
    color: white;
    border: none;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.back-submit{
    background-color: rgb(138, 138, 138);
    color: white;
    border: none;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

/* ==============PROFILE============== */
#profile-card .content-box {
    display: block;
    height:60vh;
    overflow-y: scroll;
    overflow-x:hidden ;
    /* background-color:paleturquoise; */
    font-size: 14px;
    /* border: 1px solid lightgray; */
}

.road-tax-warning{
    font-size: 8px;
}

/* Chat icon styling with message number */
.chat-icon {
    position: relative;
}
.chat-icon>i {
    font-size: 1.8rem;
}
.chat-icon>span {
    position: absolute;
    transform: translate(-30%, -40%);
}

.btn-open {
    border: none;
    column-rule: rgb(34, 34, 34);
    background-color: transparent;
}
.btn-open:hover {
    color: rgb(220,53,69);
}
.clip-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}