/* COMMON */
body {
    margin: 0;
}
/* LOGO STYLING */
.navbar-brand {
    margin-right: auto;
    border: none;
    background-color: transparent;
}
.navbar-brand>img{
    height: 48px;
}
.nav-icon {
    font-size: 1.3rem;
}
/* NAVBAR */
.nav-link {
    font-size: 0.9rem;
    color: rgb(58, 58, 58) !important;
}
/* MINI NAV */
.mini-nav {
    font-size: 0.88rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(97, 97, 97);
    display: block;
    background-image:linear-gradient(white,rgb(230, 230, 230)) ;
}
#nav-home {
    display: none;
}
.mini-nav-img {
    width:50px;
    margin:10px
}

.btn-form {
    margin-right: 5px;
    font-size: 0.9rem;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

/* SHOWEACHCAR page */
.car-listing {
    font-size: 14px;
}

.badge-outline-dark {
    border: 1px solid;
    text-decoration: none;
    margin-right: 5px;
}
.badge-outline-dark:hover {
    color: red !important;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.search-bar>* {
    /* height: 32px; */
    border-radius: 0;
}
.search-btn {
    background-color: rgb(206, 35, 35);
    color: whitesmoke;
    padding: 3px 15px;
    height: 32px;
    border: none;
}
.search-btn:hover {
    background-color: rgb(161, 51, 51);
}
.search-icon {
    padding: 5px;
    font-size: 1.2rem;
}
.search-icon-blue {
    color: rgb(51, 91, 193);
}
/* ipad setting */
@media screen and (min-width:768px) {
    /* MINI NAV */
    .mini-nav:hover{
        color: rgb(58, 58, 58) !important;
        background-image:linear-gradient(white,rgb(201, 201, 201));
        font-weight: 500;
    }
}
/* ipad pro setting */
@media screen and (min-width:992px) {
    /* MINI NAV */
    #mini-nav img {
        display: none;
    }
    .mini-nav {
        padding: 4px;
        text-align: center;
        color: rgb(80, 80, 80);
        background-color:rgb(228, 228, 228);
        margin-left: 0.5px;
        border: none;
    }
    .mini-nav:hover {
        background-color: rgb(218, 0, 0) !important;
        background-image: none;
        color: white !important;
        font-weight: 700;
    }
    #nav-home {
        display: inline-flex;
        width: 40px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(228, 228, 228);
        color: rgb(218, 0, 0) !important;
        font-size: 1.2rem;
        border: none;
    }
    #nav-home:hover {
        color:rgb(228, 228, 228) !important;
        background-color: rgb(218, 0, 0);
    }
    #active {
        background-color: rgb(218, 0, 0) !important;
        background-image: none !important;
        color: white !important;
        font-weight: 700 !important;
    }
}
/* laptop setting */
@media screen and (min-width:1200px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
}
/* xxl setting */
@media screen and (min-width:1400px) {
    
}